body{
    background-color: rgb(155, 201, 223);
}
h3{
    padding-top: 1rem;
    text-align: center;
}
p{
    padding-top: 1rem;
    font-size: .8rem;
    padding-left: .8rem;
}

input,
textarea,
select {
    display: block;
    width: 95%;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid rgb(146, 143, 143);
}

textarea{
    resize: none;
}

label{
    padding: 1.2rem;
    font-size: 12px;
    margin-bottom: 10px;
}

button{
    font-size: 10px;
    border-radius: 4px;
    display: inline;
    width: 100px;
    height: 25px;
}
button[type="submit"]{
    background-color:rgb(0 , 0, 0);
    color: white;
}
button[type="reset"]{
    color: rgb(158, 154, 158);
}

.rediostyle{
    display: flex;
}
.rediostyle input[type="radio"]{
    width: auto;
    margin: 2px 2px 5px 15px;
}
.rediostyle input[type="checkbox"]{
    width: auto;
    margin: 2px 2px 5px 15px;
}
.rediostyle label{
    padding: 0;
    margin-bottom: 0;
}
#form-on-help{
    background-color: white;
    width: 50%;
    margin: 0 auto;
}

#home-part-three{
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
    gap:10px;
    padding: 10px 5px;
}